:root {
    --branco-principal: #FFFFFF;
    --branco-fundo: #efe7e7;
    --preto-principal: #00030c;
    --fonte-principal: 'Inter';
    --cinza-secundario: #65687d;
    --cinza-terciario: #6b6363;
}

* {
    text-decoration: none;
    color: var(--branco-principal);
}

.cabecalho {
    display: flex;
    align-items: center;
    background-color: var(--preto-principal);
}

.logo-cabecalho {
    height: 60px;
    transition: 0.4s;
}

.logo-cabecalho:hover {
    transform: scale(1.07);
}

.lista-elementos-cabecalho {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.elemento-cabecalho a {
    font-family: var(--fonte-principal);
    margin: 0 22px;
    transition: 0.4s;
}

.elemento-cabecalho a:hover {
    color: var(--cinza-secundario);
}

.apresentacao {
    display: flex;
    align-items: center;
    background-color: var(--branco-fundo);
    height: 300px;
}

.conteudo-apresentacao {
    margin: 0 auto;
    width: 60%;
    text-align: center;

}

.titulo-apresentacao {
    border-style: solid;
    margin: 10px 0;
    font-family: var(--fonte-principal);
    color: var(--preto-principal);
    font-weight: 700;
    font-size: 40px;
}

.texto-apresentacao {
    font-family: var(--fonte-principal);
    color: var(--preto-principal);
    font-size: 24px;
}

.container {
    height: 500px;
    display: flex;
    align-items: center;
}

.container-preto {
    background-color: var(--preto-principal);
}

.container-branco {
    background-color: var(--branco-fundo);
}

.titulo-container-preto {
    margin: 10px auto;
    font-weight: 700;
    font-size: 34px;
    font-family: var(--fonte-principal);

}

.texto-container-preto {
    font-family: var(--fonte-principal);
    font-size: 24px;
    margin-right: 50px;
}

.titulo-container-branco {
    text-align: end;
    margin: 10px auto;
    font-weight: 700;
    font-size: 34px;
    color: var(--preto-principal);
    font-family: var(--fonte-principal);


}

.texto-container-branco {
    text-align: end;
    color: var(--preto-principal);
    font-family: var(--fonte-principal);
    font-size: 24px;
    margin-left: 50px;
}

.rodape {
    flex-flow: column wrap;
    background-color: var(--preto-principal);
}

.logo-rodape {
    display: block;
    margin: 0 auto;
    height: 120px;
    padding: 10px;
}

.texto-rodape {
    text-align: center;
    font-family: var(--fonte-principal);
    color: var(--cinza-terciario);
    padding: 20px;
}


@media screen and (max-width: 700px) {
    .cabecalho {
        flex-flow: column;
    }

    .logo-cabecalho {
        height: 80px;
    }

    .lista-elementos-cabecalho {
        margin: 15px auto;
    }

    .elemento-cabecalho {
        font-weight: 700;
        font-size: 18px;
    }

    .conteudo-apresentacao {
        width: 90%;
    }

    .titulo-apresentacao {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .texto-apresentacao {
        font-size: 20px;
    }

    .apresentacao {
        height: 400px;
    }

    .container {
        flex-flow: column;
        justify-content: space-around;
        height: 650px;
    }

    .titulo-container-branco,
    .titulo-container-preto,
    .texto-container-branco,
    .texto-container-preto {
        text-align: center;
        margin: 10px 0;
    }

    .titulo-container-branco,
    .titulo-container-preto {
        font-size: 25px;
    }

    .texto-container-branco,
    .texto-container-preto {
        font-size: 18px;
    }

    .vetor {
        width: 250px;
    }

    .container-branco :nth-last-child(2) {
        order: 1;
    }
}
